@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red 1px solid ; */
}
:root {
  --azul-mais-escuro:#393E46;
  --azul-escuro: #393E46;
  --ciano: #32DDE0;
  --azul-claro: #222831;
  --azul-mais-claro: #1af38c;
}
colors{
  color: #1af38c;
  color: #EEEEEE;
  color: #32DDE0;
  color: #393E46;
  color: #222831;
}

.navbar,
.dropdown-menu,
.container.p-4.pb-0,
#footer {
  background-color: var(--azul-escuro) !important;
}

.navbar{
  background: rgba(57, 62, 70, 0.9 ) !important;
  box-shadow: 0 8px 32px 0 rgba(57, 62, 70 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
}
.nav-link.active,
.nav-link:focus {
  color: var(--azul-mais-claro) !important;
}

.navbar a {
  color: azure;
}
.navbar-box-logo{
  width: 19.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand{
  font-family: 'Fredoka One';
  font-style: normal;
  line-height: 130%;
  font-weight: 400;
  font-size: 2vw;
  color: white;
}
.navbar-logo{
  width: 125px;
  height: 65px;
  background-image: url("../assets/CClogo.png");
  background-position: center;
  background-size: cover;
}
.navbar a:hover {
  color: var(--azul-mais-claro);
}

.dropdown-item:active {
  background-color: var(--azul-mais-escuro);
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
main{
  background-color: #222831;
  color: #EEEEEE;
}
.background-top{
  width: 100%;
  height: 15vh;
  background-color: #393E46;
}
.background-wave{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.background-wave div{
  display: flex;
  align-items: end;
  width: 45%;
  height: 56%;
}
.title-background-wave{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  text-decoration: underline #1af38c;
}
.container-main{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-top-main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
/* .box-content-main:nth-child(2){
  position: relative;
} */

.box-text-main{
  width: 60%;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}
.box-text-main p{
  font-size: 24px;
  font-weight: 400;
}
ol {
  padding: 0;
}
.box-text-main li{
  font-size: 24px;
  font-weight: 700;
  list-style: none;
}   
ol li::before{
  content: '</>';
  color: #1af38c;
  display: inline-block;
  width: 2.4em;
}
.style{
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1af38c;
}
.box-mid-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
}
.box-mid-main .box-text-main{
  width: 60%;
  font-size: 28px;
  text-align: center;
  word-break: break-word;
}
.box-mid-main .box-text-main p{
  font-weight: 700;
}
.box-imagem{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.image-product{
  width: 350px;
}
.image-product2{
  width: 350px;
  /* position: absolute;
  bottom: 0%;
  left: 13%;
  z-index: 1; */
}
.video{
  width: 600px;
}

.box-bottom-main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 80px 0;
}
.box-bottom-main .box-title{
  display: flex;
  align-items: end;
  width: 45%;
}
.title-bottom-main {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  text-decoration: underline #1af38c;
}
.box-card{
  display: flex;
  flex-wrap: wrap;
}
.card-service{
  width: 300px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 50, 221, 224, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card-service-logo{
  width: 150px;
}
.title-card-service{
  width: 55%;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  line-height: 130%;
  text-align: center;
  word-break: break-all;
}
.price-card-service{
  font-size: 21px;
}


.btn-card-service  {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #32DDE0;
  background: #32DDE0;
}
.btn-card-service:hover {
  background: transparent;
}
.text-uppercase{
  text-transform: uppercase;
  font-weight: 900;
  color: #32DDE0;
}
.underline{
  text-decoration: underline #32DDE0;
}