body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 100vh; }

.modal {
  border-radius: 0px;
  overflow: hidden;
  background-color: transparent; 
  width: 300px;
  margin-left: 300px;
}
  .modal .logo a img {
    width: 30px; }
  .modal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0px; }
    .modal .modal-content .modal-body {
      border-radius: 0px;
      border-top: 4px solid #4c07ed;
      overflow: hidden;
      background-color: #3c3c3c;
      padding-left: 0px;
      padding-right: 0px;
      -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
      box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9); }
      .modal .modal-content .modal-body h2 {
        font-size: 18px; }
      .modal .modal-content .modal-body p {
        color: #777;
        font-size: 14px; }
      .modal .modal-content .modal-body h3 {
        color: #000;
        font-size: 22px; }
      .modal .modal-content .modal-body .close-btn {
        color: #000; }
      .modal .modal-content .modal-body .promo-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
  .modal .cancel {
    color: gray;
    font-size: 14px; }
  .modal .btn-primary {
    padding-top: 10px;
    padding-bottom: 10px; }

.form-control {
  border: transparent;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none; 
  
	color:#bfbfbf;

	
	font-family:'open_sansregular';
	font-size:0.9em;
	background: #ffffff;
	background: -webkit-linear-gradient(#090909, #1a1a1a);	
	background: -moz-linear-gradient(#090909, #1a1a1a);	
	background: -o-linear-gradient(#090909, #1a1a1a);	
	background: -ms-linear-gradient(#090909, #1a1a1a);	
	background: linear-gradient(#090909, #1a1a1a);
	/*border: 1px solid #210b70;
	border-radius: 0px;
	box-shadow: 0 2px 0 rgb(255, 255, 255);*/

  border-color: #4c07ed;
  box-shadow: 0 0 20px #4c07ed, inset 0 0 10px #4c07ed, 0 2px 0 #000;
}
label{
  color: white;
}
.form-control:focus {

	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #1a1a1a;
	background: -webkit-linear-gradient(#4c07ed, #1a1a1a);	
	background: -moz-linear-gradient(#4c07ed, #1a1a1a);	
	background: -o-linear-gradient(#4c07ed, #1a1a1a);	
	background: -ms-linear-gradient(#4c07ed, #1a1a1a);	
	background: linear-gradient(#090909, #1a1a1a);
	border: 1px solid #404040;
	border-radius: 0px 0 0 0px;
	box-shadow: 0 2px 0 #000;
    box-shadow: 0 0 5px #4c07ed, inset 0 0 5px #4c07ed, 0 2px 0 #000;
	color: #f7f7f7;
	outline: none;
}
  
.btn {
  border-radius: 4px;
  border: none; 
  background-color: #4c07ed;
}
.btn-primary:hover, .btn-primary:after{
  background-color: #4c07ed;
}

  .btn-primary:active, .btn-primary:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
    background-color: #4c07ed;
  }

.custom-select {
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .custom-select:active, .custom-select:focus, .custom-select:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logo img {
  width: 70px; }

.custom-note {
  color: rgb(167, 167, 167); 
  font-size: 11px;
}
  .custom-note a {
    color: rgb(8, 0, 157);
    font-weight: 900 !important;
    font-size: 16px;
  }
