@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red 1px solid ; */
}

:root {
  --verde: #1af38c;
  --branco: #eeeeee;
  --azul: #32dde0;
  --cinza: #393e46;
  --cinza-escuro: #222831;
}

.navbar,
.dropdown-menu,
.container.p-4.pb-0,
#footer {
  background-color: var(--cinza) !important;
}

.navbar {
  box-shadow: 0 8px 32px 0 rgba(57, 62, 70, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.nav-link.active,
.nav-link:focus {
  color: var(--verde) !important;
}

.navbar a {
  color: azure;
}

.navbar-box-logo {
  width: 19.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Fredoka One';
  font-style: normal;
  line-height: 130%;
  font-weight: 400;
  font-size: 2vw;
  color: white;
}

.navbar-logo {
  width: 125px;
  height: 65px;
  background-image: url('../assets/CClogo.png');
  background-position: center;
  background-size: cover;
}

.navbar a:hover {
  color: var(--verde);
}

/* ------------------------------- */
.dropdown-menu show {
  left: unset;
  right: 0%;
}

.dropdown-item:active {
  background-color: var(--cinza-escuro);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

main {
  background-color: var(--cinza-escuro);
  color: #eeeeee;
}
