*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --azul-mais-escuro: #002152;
  --azul-escuro: #0e2d5c;
  --azul: #0041a3;
  --azul-claro: #0054d1;
  --azul-mais-claro: #437fd9;
}

.navbar,
.dropdown-menu,
.container.p-4.pb-0,
#footer {
  background-color: var(--azul-escuro) !important;
}
.dropdown-menu show{
  left: unset;
  right: 0%;
}


.nav-link.active,
.nav-link:focus {
  color: var(--azul-mais-claro) !important;
}

.navbar a {
  color: azure;
}

.navbar a:hover {
  color: var(--azul-mais-claro);
}

.dropdown-item:active {
  background-color: var(--azul-mais-escuro);
}
